// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tab-foldername-index {
    line-height: 1;
    height: 100%;
    text-align: center;

    &__flex-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;

        // Overwrite unecessary `:before` icon top positioning
        &::before {
            top: 0!important;
        }
    }

    &__text-wrapper {
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        text-align: left;
    }

    &__folder, &__file {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    &__file {
        opacity: 0.4;
    }

    &__original {
        display: none!important;
    }

    .temp ~ & {
        font-style: italic;
    }

    .status-added + & {
        color: @syntax-color-added;
    }

    .status-modified + & {
        color: @syntax-color-modified;
    }

    .status-ignored + & {
        font-weight: normal;
        opacity: 0.6;
    }

    &__flex-wrapper.icon > &__text-wrapper {
      max-width: ~"calc(100% - 1.516666667em)"; // `em` width to match `:before` icon size
    }
}
