// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

.word-count22 {
    line-height: 13px;
    margin: 0.3rem 1rem 0;
    text-align: center;

    &__wrapper {
        display: inline-block;
        text-align: left;
    }

    &__folder {
        font-weight: bold;
    }

    &__file {
        //font-weight: bold;
    }

    &__original {
        display: none;
    }

    .temp ~ & {
        font-style: italic;
    }
}
